*{
  margin:0;
}

.App{
  display: flex;
  margin: 20px auto 20px;
  width:90vw;
  height:90vh;
}

.side{
  background-color:rgb(219, 213, 213);
  width: 30vw;
  margin: 1px;
}

.chat{
  background-color: rgb(194, 191, 191);
  display: flex;
  width:60vw;
  margin:1px;
}