.groupname{
    display: flex;
    font-size: 13px;
    padding: 10px;
}

.groups{
    height: 70vh;
    overflow:scroll;
}

.details{
    margin-left: 10px ;
}

.groupname:hover{
    background-color: rgb(197, 204, 204);
}